.echo-text {
  position: relative;
  display: inline-block;
  line-height: 1.1;
  user-select: none;
}

.echo-text__echo {
  display: inline-block;
  white-space: nowrap;
  will-change: transform, opacity, filter;
}

.echo-text__echo:not(.echo-text__echo--front) {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  user-select: none;
}

.echo-text__echo--front {
  position: relative;
}
